* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #004697;
}
.hidden {
  display: none;
}
header {
  /* From https://css.glass */
  width: 100%;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 200;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
